html,
body,
#root {
  height: 100%;
  width: 100vw;
  margin: 0;

}



.read-the-docs {
  color: #888;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns of equal width */
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Two columns of equal width */
}

.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Two columns of equal width */
}