html,
body,
#root {
  height: 100vw;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
}


.read-the-docs {
  color: #888;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns of equal width */
}

.element {
  width: 80vw;
  /* 80% of viewport width */
  height: 50vh;
  /* 50% of viewport height */
}

.component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}